/* General Styling*/

body {

    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

/* Header and Navigation*/

header  {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #333;

}





/* Image on the main page*/

img.responsive {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    display: block;
}

/* Footer */

footer {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    margin-top: auto;


}

